<form
  *ngIf="currentUser"
  [formGroup]="form"
  class="body0"
  ng-class="{ open: edit }"
  [ngClass]="edit ? 'open' : ''"
>
  <div class="head1">
    <div class="a2">
      <div class="w-[81px]"><p class="p1">Password</p></div>

      <p class="f1" *ngIf="!edit">**************</p>

      <div class="e1" *ngIf="!edit">
        Edit
      </div>
    </div>
    <div class="g1" *ngIf="edit"></div>
  </div>

  <div class="body1" *ngIf="edit">
    <div class="body2">
      <div class="a1">
        <p class="t1">Current Password</p>
        <input type="password" class="i1" placeholder="Current Password" />
      </div>
      <div class="a1">
        <p class="t1">New Password</p>
        <input
          type="password"
          class="i1"
          placeholder="new password"
          [ngClass]="
            form.controls['newPassword'].invalid &&
            form.controls['newPassword'].touched == true
              ? 'errors'
              : ''
          "
        />
      </div>
      <div class="a1">
        <p class="t1">Confirm Password</p>
        <input
          type="password"
          class="i1"
          placeholder="Confirm Password"
          [ngClass]="
            form.controls['newPassword'].invalid &&
            form.controls['newPassword'].touched == true
              ? 'errors'
              : ''
          "
        />
      </div>
      <div class="gd1"><div class="g2"></div></div>
    </div>
    <div class="buttonlist1">
      <button
        (click)="onSubmit(); $event.stopPropagation()"
        class="bs"
        [disabled]="form.invalid"
      >
        Change
      </button>
      <button (click)="onCancel(); $event.stopPropagation()" class="bc">
        Cancel
      </button>
    </div>
    <div class="flex flex-row items-start justify-end w-full px-3">
      <p class="flex items-center text-right text-skin-links">
        Forgot password?
      </p>
    </div>
  </div>
</form>
